:root {
    --clr-dark: #1d2331;
    --clr-light: #f7f7f7;
    --txt-clr-dark: #e6e6e6;
    --txt-clr-light: #0e111b;
    --nav-clr-light: #e2e6eb;
    --nav-clr-dark: #131823;
    --content-clr-dark: #1d2331;
    --content-clr-light: #f2f2f2;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;

  }
  .responsive-menu{
      display:contents;
  }
    .hamburger-menu {
        display: none;
    }
}

@media (max-width: 768px) {
       .responsive-menu {
        display: none;
    }
       .hamburger-menu {
           display:contents;
       }
}
.menu-col{
    display:grid;
    column-width: 3fr;
}

.main-col{
    grid-column-start: 3;
    column-width: 9fr;
    
}
.size-burger{
    font-size: 2rem;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    
}

body {
    margin-bottom: 60px;
    background-color: var(--clr-light);
}

h1{
    font-size: 2.5rem;
    font-weight:500;
    padding-top: 30px;
}

h2{
    font-size: 1.5rem;
}

.navStyling{
    background-color: var(--nav-clr-light);
   padding: 20px 10px;
  
}

.listLayout{
    max-width:250px;
    
}
.dark-mode {
    --clr-light: #1d2331;
    --clr-dark: #f7f7f7;
    --txt-clr-light: #e6e6e6;
    --txt-clr-dark: #0e111b;
    --nav-clr-dark: #e2e6eb;
    --nav-clr-light: #131823;
    --content-clr-light: #1d2331;
    --content-clr-dark: #f2f2f2;
}

.content-box {
    margin: 2%;
    border-radius: 1%;
    border-color: #d4d4d4;
    border-style: solid;
    padding: 2% 3%;
    transition: color .3s ease-in-out;
    background-color: var(--content-clr-light);
    border-width: 1px;
}


.content-tags {
    margin-top: 1rem;
   
}

a:link, a:visited {
    text-decoration: none;
}

p {
    color: var(--txt-clr-light);
    transition: color .3s ease-in-out;
}

.dropdown-item {
    color: var(--txt-clr-light);
    }

a {
    color: var(--txt-clr-light);
    transition: color .3s ease-in-out;
}

li {
    color: var(--txt-clr-light);
    transition: color .3s ease-in-out;
}

    a:hover {
        
        color: dodgerblue;
        
        text-shadow: initial 1px 1px 2px white;
       
    }

.hiddenList {
    display: none;
}

.listShow:hover + .hiddenList,
.listShow + .hiddenList:hover{
    display: block;
   
}

ul.menuList {
    list-style-type: none;
    margin: 0;
    padding: 2px 0px;
}



.intro {
    width: 100%;
    
    display:block;
    justify-content: center;
    align-items: center;
}

.text {
    color: var(--txt-clr-light);
    
    
    animation: fadein 3s ease-in-out;
    transition: color .3s ease-in-out;
}

.nav-text {
    color: var(--txt-clr-light);
    transition: color .3s ease-in-out;
}

.description {
    color: var(--txt-clr-light);
    transition: color .3s ease-in-out;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.darkmode-label{
    width: 5rem;
    height:2rem;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor:pointer;
    transition: 0.3s;
}

    .darkmode-label::after {
        content: "";
        width: 1.8rem;
        height: 1.8rem;
        position: absolute;
        top: 5%;
        left: 5%;
        background: linear-gradient(180deg, #ffcc89, #d8860b);
        border-radius: 1.8rem;
        box-shadow: 0px 5px 10px rgba(0,0,0,2);
        transition: 0.3s;
    }

.darkmode-input{
    width:0;
    height:0;
    visibility:hidden;
}

.darkmode-input:checked + .darkmode-label{
    background: #242424;
}

.darkmode-input:checked + .darkmode-label::after{
    left: 4.9rem;
    transform: translate(-100%);
    background: linear-gradient(180deg,#777, #3a3a3a);
}

.darkmode-label:active::after{
    width:2.6rem;
}

