<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Code Cave</title>
   
   
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.tiny.cloud/1/xz2iauvbk2f6ouxs8c2buqbbvb2rw4ben7j7m0cckkq4n2i8/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/prism.js"></script>
    <script src="~/js/prism-darkmode.js"></script>
    <link href="/css/prism.css" rel="stylesheet" id="style" />
    @*<link href="~/css/prism.css" rel="stylesheet" id="style" type="text/css"/>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/components/prism-csharp.js"></script>

    
</head>
<body>
    <div class="container-fluid">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow navStyling">
            <div class="container-fluid">
                    <a class="navbar-brand nav-text" asp-area="" asp-controller="Home" asp-action="Index">The Code Cave</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                                <a class="nav-link nav-text" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link nav-text" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                
                <input class="darkmode-input" type="checkbox" id="darkmode-toggle" />
                <label class="darkmode-label" for="darkmode-toggle"></label>
                   
            </div>
        </nav>
    </header>
    
    <div class="row">
            <div class="col-auto sticky-top ">
    @(await Component.InvokeAsync("MenuList"))
            </div>
            <div class="col-9 p-3 min-vh-100">
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
            </div>
        </div>
    
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            The Code Cave  - &copy; 2023 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <script>
        tinymce.init({
            selector: 'textarea#codesample',
            height: 500,
            plugins: 'codesample code lists',
           
            codesample_languages: [
                { text: 'HTML/XML', value: 'markup' },
                { text: 'JavaScript', value: 'javascript' },
                { text: 'CSS', value: 'css' },
                { text: 'PHP', value: 'php' },
                { text: 'Ruby', value: 'ruby' },
                { text: 'Python', value: 'python' },
                { text: 'Java', value: 'java' },
                { text: 'C', value: 'c' },
                { text: 'C#', value: 'csharp' },
                { text: 'C++', value: 'cpp' }
            ],
            toolbar: 'codesample code numlist bullist',
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }',
            content_css: '/site.css'
            
        });

        // Prevent Bootstrap dialog from blocking focusin
        document.addEventListener('focusin', (e) => {
            if (e.target.closest(".tox-tinymce, .tox-tinymce-aux, .moxman-window, .tam-assetmanager-root") !== null) {
                e.stopImmediatePropagation();
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
