:root {
    --clr-dark: #1d2331;
    --clr-light: #fefff8;
    --txt-clr-dark: #e6e6e6;
    --txt-clr-light: #000000;
    --nav-clr-light: #adc178;
    --nav-clr-dark: #131823;
    --content-clr-dark: #1d2331;
    --content-clr-light: #e5e5e5;
    --border-clr-light: rgb(90 91 12 / 23%) ;
    --nav-text-clr-light: #14213d;
    --hov-clr-light: #14213d;
    --content-box-bg-clr: #fdfff3;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 60px;
    background-color: var(--clr-light);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;

  }
    .responsive-menu {
        display: contents;
        
        
    }
    .hamburger-menu {
        display: none;
    }
    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 35px;
    }
}

@media (max-width: 768px) {
       .responsive-menu {
        display: none;
    }
       .hamburger-menu {
           display:contents;
           
       }

       .dropdown {
           justify-content: center;
       }
       .dropdown-item, dropdown-item + li,.dropdown-item + a {
           display: flex;
           justify-content: center;
       }
       .nav-text-styling{
           display: flex;
           justify-content: center;
       }
    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }
}
.menu-col{
    display:grid;
    column-width: 3fr;
}

.main-col{
    grid-column-start: 3;
    column-width: 9fr;
    
}
.size-burger{
    font-size: 2rem;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    
}

.breadcrumb{
    padding-top: 30px
}

h1{
    font-size: 2rem;
    font-weight:500;
    padding-top: 30px;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

    h2:hover {
        color: gray;
        text-decoration: underline;
        text-underline-offset: 0.7rem;
        text-decoration-color: rgb(181,181,181);
       
    }



.navStyling{
    background-color: var(--clr-light);
   padding: 20px 10px;
  
}

.nav-text-styling {
    color: var(--nav-text-clr-light);
    
}

.listLayout {
    max-width: 250px;
    border-right: 2px solid var(--border-clr-light) !important;

}
.dark-mode {
    --clr-light: #1d2331;
    --clr-dark: #f7f7f7;
    --txt-clr-light: #e6e6e6;
    --txt-clr-dark: #0e111b;
    --nav-clr-dark: #e2e6eb;
    --nav-clr-light: #131823;
    --content-clr-light: #1d2331;
    --content-clr-dark: #f2f2f2;
}


.content-box {
    margin: 2%;
    border-radius: 3px 10px 3px 10px;
    border-color: var(--border-clr-light);
    border-style: solid;
    border-width: 5px;
    padding:1.5rem 1.5rem 1rem 1.5rem;
    transition: color .3s ease-in-out;
    background-color: var(--content-box-bg-clr);
    border-width: 2px;
}


.border-end {
    border-right: 0px solid var(--border-clr-light) !important;
}

.border-top {
    border-top: 2px solid var(--border-clr-light) !important;
}

.text-muted {
   color: var(--text-clr-light) !important;
}

.content-tags {
    margin-top: 1rem;
   
}

footer {
    display:flex;
    text-align:center;
}

a:link, a:visited, a:hover {
    text-decoration: none;
}

p {
    color: var(--txt-clr-light);
    transition: color .3s ease-in-out;
}

.dropdown-item {
    color: var(--txt-clr-light);
 
}

.dropdown{
    padding: 5px 25px;
}

 




a {
    color: var(--txt-clr-light);
    transition: color .3s ease-in-out;
}

li {
    color: var(--txt-clr-light);
    transition: color .3s ease-in-out;
}

a:hover, .nav-text-styling:hover{
    font-weight: 600;
    color: var(--txt-clr-light);
    text-shadow: initial 1px 1px 2px white;
}

.hiddenList {
    display: none;
}

.listShow:hover + .hiddenList,
.listShow + .hiddenList:hover{
    display: block;
   
}

ul.menuList {
    list-style-type: none;
    margin: 0;
    padding: 2px 0px;
}



.intro {
    width: 100%;
    
    display:block;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.text {
    color: var(--txt-clr-light);
    
    
    animation: fadein 3s ease-in-out;
    transition: color .3s ease-in-out;
}

.nav-text {
  
    transition: color .3s ease-in-out;
    font-weight: 400;
    font-size: 1.2rem;
    padding-top: 20px;

    
}

.logotype {
    height: 100px;
    /* width: fit-content; */
    padding-left: 60px;
    margin-top: 20px;
}
    .dropdown-item:hover {
  
    background-color: var(--clr-light);
    font-weight: 600;
  }



.nav-text-header {
    
    transition: color .3s ease-in-out;
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-content: end;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 10px;
}

.description {
    color: var(--txt-clr-light);
    transition: color .3s ease-in-out;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.sibling-fade {
  
}
    /* Prevents :hover from triggering in the gaps between items */

    .sibling-fade > * {
        visibility: visible;
    }
    /* Brings the child items back in, even though the parent is `hidden` */

    .sibling-fade > * {
        transition: opacity 15ms linear 100ms, transform 0ms ease-in-out 10ms;
    }
    /* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

    .sibling-fade:hover > * {
        opacity: 0.4;
        transform: scale(0.9);
    }
    /* Fade out all items when the parent is hovered */

    .sibling-fade > *:hover {
        opacity: 1;
        transform: scale(1);
        transition-delay: 0ms;
    }
/* Fade in the currently hovered item */

    .sibling-fade > * {
       
    
        flex: auto;
    
    
        text-decoration: none;
    }


.darkmode-label{
    width: 5rem;
    height:2rem;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor:pointer;
    transition: 0.3s;
}

    .darkmode-label::after {
        content: "";
        width: 1.8rem;
        height: 1.8rem;
        position: absolute;
        top: 5%;
        left: 5%;
        background: linear-gradient(180deg, #ffcc89, #d8860b);
        border-radius: 1.8rem;
        box-shadow: 0px 5px 10px rgba(0,0,0,2);
        transition: 0.3s;
    }

.darkmode-input{
    width:0;
    height:0;
    visibility:hidden;
}

.darkmode-input:checked + .darkmode-label{
    background: #242424;
}

.darkmode-input:checked + .darkmode-label::after{
    left: 4.9rem;
    transform: translate(-100%);
    background: linear-gradient(180deg,#777, #3a3a3a);
}

.darkmode-label:active::after{
    width:2.6rem;
}

/* BUTTONS */
.btn-container {
    display: flex;
   padding-top:10px; 
    justify-content: end;
    gap: 1rem;
}

.btn {
    font-weight: 400;
    transition: all 300ms ease;
    padding: 2px;
    width: fit-content;
    min-width: 6rem;
    border-radius: 10px;
}

.btn-color-1, .btn-color-2 {
    border: var(--border-clr-light) 0.1rem solid;
   
}

    .btn-color-1:hover, .btn-color-2:hover {
        cursor: pointer;
    }

    .btn-color-1, .btn-color-2:hover {
        background-color: rgb(53,53,53);
        color: white;
    }

        .btn-color-1:hover {
            background: rgb(0,0,0);
        }

.btn-color-2 {
    background: none;
}

    .btn-color-2:hover {
        border: rgb(255,255,255) 0.1rem solid;
    }